html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: $fontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

h1 {
    @include fontSize(3.2);
}

h2 {
    @include fontSize(2.4);
}

h3 {
    @include fontSize(2.0);
}

p {
    @include fontSize(1.4);
}

button {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.icon--xl {
    @include fontSize(3.2);
}

.form__error {
    display: block;
    margin-top: $gutter;
    @include fontSize(1.2);
    color: rgb(212, 21, 21);
}

.cr-banner {
    width: 100%;
    max-height: 500px;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        transform: translateY(calc(-50% + 300px));
    }
}

.cr-banner--large {
    max-height: 600px;
}

.cr-carousel {
    position: relative;
    overflow: hidden;

    @media ($aboveMobile) {
        max-height: 600px;
    }

    .slick-dots {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.cr-slider {
    display: flex !important;
    align-items: center;
    width: 100%;

    img {
        max-height: 400px;
    }

    .slick-arrow {
        position: static;
        width: auto;

        &::before {
            color: black;
            @include fontSize(4.8)
        }

        &.slick-disabled::before {
            visibility: hidden;
        }

        &.slick-next {
            padding-left: $gutter;
        }

        &.slick-prev {
            padding-right: $gutter;
        }
    }
}

.cr-slide {
    position: relative;

    .cr-slide__imageContainer {
        margin: 0 auto;
        overflow: hidden;

        @media ($aboveMobile) {
            max-height: 600px;
        }

        img {
            object-fit: cover;
        }
    }

    .cr-slide__text {
        min-height: 100px;
        font-size: 1.6rem;
        color: $white;
        margin-bottom: $gutter * 3;

        @media ($aboveMobile) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: calc(100% - $gutter * 8);
        }
    }

    .cr-slide__textWrapper {
        padding: $gutter * 3 $gutter * 2;
        background-color: rgba(0,0,0, 0.6);

        @media ($aboveMobile) {
            width: calc(100% - $gutter * 8);
            padding: $gutter * 4;
            margin: 0 $gutter * 4;
        }
    }

    .cr-slide__title {
        display: block;
        font-size: 2.0rem;
        font-weight: $semiBold;
        margin-bottom: $gutter * 2;
    }
}

.cr-timeBoxes {
    display: flex;
    flex-direction: column;
    gap: $gutter * 3;
    padding: $gutter * 4 $gutter * 2;
}

.cr-timeBox {
    display: flex;
    align-items: center;
    gap: $gutter;

    p {
        font-size: 1.6rem !important;
    }
}

.cr-timeBox__year {
    padding: $gutter * 3;
    font-size: 2.4rem;
    font-weight: $lightAlternative;
}

.cr-tags {
    display: flex;
    gap: $gutter;
}

.cr-tag {
    padding: 12px;
    font-size: 1.2rem;
    color: $white;
    background-color: #067b7b;
    border-radius: 24px;
}

.cr-form {
    display: flex;
    flex-wrap: wrap;
    padding: $gutter * 3 $gutter * 2;
    row-gap: $gutter * 2;

    .cr-form__field {
        label {
            width: calc(100% - $gutter * 2 - $borderRadius);
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
        }

        input, textarea {
            margin-top: $gutter * 2;
        }

    }
    button {
        font-size: 2.0rem !important;
        width: calc(100% - $borderRadius);
        margin-top: $gutter * 4;
    }
}

.icon {
    font-size: 10px;
}

@media ($aboveDesktopSmall) {
    .container {
        max-width: $desktopSmallSize;
    }
}

@media ($aboveDesktopLarge) {
    .container {
        max-width: $desktopSmallLarge;
    }
}