@use '../../styles/source/colors.scss' as colors;
@use '../../styles/source/typography.scss' as typography;
@use '../../styles/source/breakpoints.scss' as breakpoints;
@use '../../styles/source/mixins.scss' as mixins;
@use '../../styles/source/variables.scss' as variables;

.bannerTile {
    position: relative;
    max-height: 600px;
    border-radius: variables.$borderRadius;
    overflow: hidden;

    img {
        transition: 2s all ease;
    }

    &:hover {
        img {
            transform: scale(1.25);
        }
    }
}

.bannerTIle__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bannerTile__title {
    @include mixins.fontSize(3.2);
    color: colors.$white;
    font-weight: typography.$bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}
